@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.Duende.IdentityServer.Admin.UI.Helpers
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IViewLocalizer Localizer
@{
	ViewData["Title"] = "Error";
}

<h1 class="text-danger">@Localizer["PageTitle"]</h1>

@if (ViewBag.Notifications != null)
{
    var obj = JsonSerializer.Deserialize<List<NotificationHelpers.Alert>>(ViewBag.Notifications);

	foreach (NotificationHelpers.Alert notification in obj)
	{
		<h2 class="text-danger">@notification.Message</h2>
	}
}